/* Start: Global colors being set*/
$main-app-background-color: #2D2E31 !default;
$main-components-background-color: rgb(0, 0, 0) !default;
$main-components-buttons-background-color-onHover: rgb(56, 56, 56) !default;
$main-app-text-color-1: #B1B1B5 !default; // used in the header buttons

$brand-logo-color: #deddfd !default;
$auth-modal-text-color: white!default;
/* End: Global colors being set*/