<div class="header-container">
  <!--Brand logo floated left-->
  <div class="left header-col">
    <a class="brand-logo" href="#">ujANja</a>
  </div>

  <div class="float-right-for-desktop-only">
    <!--centered div for menu/header buttons-->
    <div class="center header-col">
      <div class="header-buttons">

        <!--Home icon and button-->
        <div class="header-button" >
          <fa-icon [icon]="['fas', 'folder-minus']"></fa-icon>
          <span class="header-link-text">Option 1</span>
        </div>

        <!--Notification icon and button-->
        <div class="header-button" >
          <fa-icon [icon]="['fas', 'chevron-circle-down']"></fa-icon>
          <span class="header-link-text">Option 2</span>
        </div>

        <!--Message icon and button-->
        <div class="header-button" >
          <fa-icon [icon]="['fas', 'bars']"></fa-icon>
          <span class="header-link-text">Option 3</span>
        </div>

      </div>
    </div>

    <!--authentification modal floated right-->
    <div class="right header-col">

      <!--User profile displayed when someone is logged in style="font-size:20px;"-->      
      <div ngbDropdown class="profile-dropdown" *ngIf="user">
        <div class="auth-modal" id="profile-dropdown" ngbDropdownToggle>
          <fa-icon  [icon]="['fas', 'user-alt']"></fa-icon>
          {{user.username}}
        </div>
        <div ngbDropdownMenu aria-labelledby="profile-dropdown" class="profile-dropdown-box">
          <button ngbDropdownItem *ngIf="user && user.isAdmin" [routerLink]="['admin']">Admin</button>
          <button ngbDropdownItem (click)="navigate2(user._id)">Profile</button>
          <button ngbDropdownItem href="#">Settings</button>
          <button ngbDropdownItem (click)="logout()">Log Out</button>
        </div>
      </div>

      <!--Auth modal displayed when someone is not logged in-->
      <auth-modal *ngIf="!user" class="auth-modal"></auth-modal>
    </div>
  </div>
</div>