@import '../../shared/mixins.scss';
// Dont use container class as there is a global style for containers in scss


// Mobile first Code
.header-container{
    min-width: 300px;
    background-color: #131633;
    @include for-phone-only{}
    @include for-tablet-portrait-only {}
    @include for-desktop-up{
        width: 100%;
        height: 100%;
        padding: 0 20px;
        background-color: #131633;
        display: flex;
        flex-direction: row;
        height: 66px;
    }
}
.header-col {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header-container .left {
    float: left;
    display: flex;
    background-color: #131633;
    //max-height: 8vh;
    margin: auto 0;
    @include for-phone-only{
        border-right: 1px solid rgb(81, 85, 112);
        width: 50%;
        justify-content: center;
        height: 40px;
    }  
    @include for-tablet-portrait-only {
        width: 25%;
        border: none;
        justify-content: center;
        height: 50px;
    }  
    @include for-desktop-up{
        border: none;
        max-height: 66px;
        width: 25%;
        clear: none;
    }
}
.header-container .right {
	display: inline-block;
    background-color: #131633;
    display: flex;
    margin: auto 0;
    @include for-phone-only{
        width: 50%;
        justify-content: center;
        height: 40px;
    }  
    @include for-tablet-portrait-only {
        width: 25%;
        justify-content: center;
        height: 50px;
    }
    @include for-desktop-up{
        float: right;
        margin: auto 0 auto 20px;
        height: 66px;
    }
}
.header-container .center {
    background-color: #090b1b;
    float: left;
    margin: auto 0;
    @include for-phone-only{
        clear: left;
        width: 100%;
        height: 25px;  
    }
    @include for-tablet-portrait-only {
        clear: none;
        width: 50%;
        height: 50px;
    }
    @include for-desktop-up{
        clear: none;
        height: 66px;
    }
}

.brand-logo{
    margin: auto 0;
    color: #deddfd;
    text-decoration: none;    
    font-style: none;
    
    @include for-phone-only{}
    @include for-tablet-portrait-only {}
    @include for-desktop-up{
        font-size: 20px;
    }
}
.auth-modal{
    margin: auto 0;
    color: #B1B1B5;
    @include for-phone-only{
        font-size: 12px;
        padding: 3px;
        border: 3px solid #B1B1B5;
    }
    @include for-tablet-portrait-only {
        font-size: 12px;
        padding: 3px;
        border: 3px solid #B1B1B5;
    }
    @include for-desktop-up{
        font-size: 14px;
        padding: 5px;
        border: 5px solid #B1B1B5;
        flex-wrap: nowrap;
    }
}
.header-buttons{
    display: flex;
    height: 100%; 
    margin: auto 0;
    width: 100%;
    @include for-phone-only{}
    @include for-tablet-portrait-only {}
    @include for-desktop-up{
        color: #B1B1B5;
        display: flex;
        flex-direction: row;
        
        background-color: #131633;
    } 
    .header-button{ // Note this is button the parent is buttons(plural)
        color: #B1B1B5;
        font-size: 14px;
        @include for-phone-only{
            margin: auto;
        }
        @include for-tablet-portrait-only {
            margin: auto;
        }
        @include for-desktop-up{
            font-size: 15px;
            margin: auto 0 auto 20px;
        }
        .header-link-text{
            margin-left: 2px;
        }
    }
}


//for-desktop-up 
@include for-desktop-up{
  
    .float-right-for-desktop-only{
        float: right;
        display: flex;
        margin-left: auto    
    }
}