@import '../../shared/shared.styles.scss';
// Dont use container class as there is a global style for containers in scss


// Mobile first Code
.header-container{
    min-width: 300px;
    background-color: $main-components-background-color;
    @include for-phone-only{}
    @include for-tablet-portrait-only {}
    @include for-desktop-up{
        width: 100%;
        height: 100%;
        padding: 0 20px;
        background-color: $main-components-background-color;
        display: flex;
        flex-direction: row;
        height: 66px;
    }
}
.header-col {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header-container .left {
    float: left;
    display: flex;
    background-color: $main-components-background-color;
    //max-height: 8vh;
    margin: auto 0;
    @include for-phone-only{
        border-right: 1px solid rgb(81, 85, 112);
        width: 50%;
        justify-content: center;
        height: 40px;
    }  
    @include for-tablet-portrait-only {
        width: 25%;
        border: none;
        justify-content: center;
        height: 50px;
    }  
    @include for-desktop-up{
        border: none;
        max-height: 66px;
        width: 25%;
        clear: none;
    }
}
.header-container .right {
	display: inline-block;
    background-color: $main-components-background-color;
    display: flex;
    margin: auto 0;
    @include for-phone-only{
        width: 50%;
        justify-content: center;
        height: 40px;
    }  
    @include for-tablet-portrait-only {
        width: 25%;
        justify-content: center;
        height: 50px;
    }
    @include for-desktop-up{
        float: right;
        margin: auto 0 auto 20px;
        height: 66px;
    }
}
.header-container .center {
    background-color: #090b1b;
    float: left;
    margin: auto 0;
    @include for-phone-only{
        clear: left;
        width: 100%;
        height: 25px;  
    }
    @include for-tablet-portrait-only {
        clear: none;
        width: 50%;
        height: 50px;
    }
    @include for-desktop-up{
        clear: none;
        height: 66px;
    }
}

.brand-logo{
    margin: auto 0;
    color: $brand-logo-color;
    text-decoration: none;    
    font-style: none;
    font-family: 'Impact, Charcoal, sans-serif';
    
    @include for-phone-only{
        font-size: 16px;
    }
    @include for-tablet-portrait-only {
        font-size: 20px;
    }
    @include for-desktop-up{
        font-size: 25px;
    }
}
.auth-modal{
    margin: auto 0;
    color: $auth-modal-text-color;
    font-weight: bolder !important;
    @include for-phone-only{
        font-size: 12px;
        padding: 3px;
        border: 3px solid $main-app-text-color-1;
    }
    @include for-tablet-portrait-only {
        font-size: 12px;
        padding: 3px;
        border: 3px solid $main-app-text-color-1;
    }
    @include for-desktop-up{
        font-size: 16px;
        padding: 8px;
        border: 5px solid $main-app-text-color-1;
        flex-wrap: nowrap;
    }
}
.header-buttons{
    display: flex;
    height: 100%; 
    margin: auto 0;
    width: 100%;
    @include for-phone-only{}
    @include for-tablet-portrait-only {}
    @include for-desktop-up{
        color: $main-app-text-color-1;
        display: flex;
        flex-direction: row;
        
        background-color: $main-components-background-color;
    } 
    .header-button{ // Note this is button the parent is buttons(plural)
        color: $main-app-text-color-1;
        font-size: 14px;
        @include for-phone-only{
            margin: auto;
        }
        @include for-tablet-portrait-only {
            margin: auto;
        }
        @include for-desktop-up{
            font-size: 15px;
            margin: auto 0 auto 20px;
        }
        .header-link-text{
            margin-left: 2px;
        }
    }
}

//for-desktop-up 
@include for-desktop-up{
  
    .float-right-for-desktop-only{
        float: right;
        display: flex;
        margin-left: auto    
    }
}

//For all
// Remove drop-down down-arrow icon
.dropdown-toggle::after {
    display:none;
}
// center profile name 'box' container
.profile-dropdown{
    margin: auto 0;
    .profile-dropdown-box{
        background-color: $main-components-background-color;
        button{
            color: $main-app-text-color-1;   
        }
        button:hover{
            background-color: $main-components-buttons-background-color-onHover;
   
        }
        
    } 
}