input, textarea {
    background-color : #2B2E4C;
    border: none; 
}

input:focus, textarea {
    background-color : #2B2E4C;
    border: 0.5px solid rgb(0, 0, 90);
    outline: none !important;
}
input::placeholder {
    font-size: 14px; 
}
label{
    margin-bottom: 0px;
    small{
        color: rgb(177, 177, 177);
    }
}
.register-btn{
    margin-top: 30px;
}
