<ng-template #content let-modal>   
  <div class="modal-header" *ngIf="!getForgotPassForm() && !getPassResetForm()">
     <span class="auth-toggle-buttons">

        <h6 class="login" [ngClass]=" login_form? 'active': '' " (click)=loginForm() >login</h6>
        <h6 class="register" [ngClass]=" register_form? 'active': '' " (click)=registerForm()>register</h6>

     </span>
     <div class="close-modal-div" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()" #closeModal>
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
     </div>
  </div>

   <div *ngIf="getForgotPassForm() || getPassResetForm()" class="close-pass-reset-modal">
      <fa-icon [icon]="['fas', 'times']" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()" (click)="resetModal()" #closeModal2></fa-icon>
   </div>
  
  <div class="modal-body">
        
        <login-form *ngIf="getLoginForm()" [data]="data" (closeModalEmitter)="modal.dismiss()"></login-form>

        <register-form *ngIf="getRegisterForm()" [data]="data"></register-form>

        <forgot-pass-form *ngIf="getForgotPassForm()"></forgot-pass-form>

        <pass-reset-form *ngIf="getPassResetForm()" [data]="data"></pass-reset-form><!--[data]="data"-->


  </div>
</ng-template>

<a style="color:white" #openModal (click)="open(content)">LOGIN / REGISTER</a>

