@import '../../../../shared/shared.styles.scss';
// Don't use container or div because they will set global scss stylings that you may not want
$auth-buttons-background-color: rgb(31, 31, 31) !default;
$auth-buttons-background-color-active: rgb(70, 70, 70) !default;

.modal-header{
    background-color: $main-components-background-color!important;
    border-bottom: 1px solid rgb(56, 56, 56);
}
.modal-body{
    background-color: $main-components-background-color!important;
}

.auth-toggle-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}

.login{
    flex: 0 0 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    padding: 0;
    margin: 0;
    background-color: $auth-buttons-background-color;
    color: rgb(125, 125, 128);
    cursor: pointer;
}

.register{
    flex: 0 0 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    padding: 0;
    margin: 0;
    background-color: $auth-buttons-background-color;
    color: rgb(125, 125, 128);
    cursor: pointer;
}
.active{
    background-color: $auth-buttons-background-color-active;
    color: #B1B1B5;
}

  button:focus {
    outline:0;
}
  .close-pass-reset-modal{
    background-color: $main-components-background-color!important;
    display: flex;
  }

  .close-modal-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #B1B1B5 !important;
    height: 40px;
    margin-left: 15px;
  }

  fa-icon{
    color: #B1B1B5 !important;
    font-size: 20px;
    margin: auto;
  }

  